body {
  background-color: #f0eee9;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
}
h1 {
  font: sans-serif;
  color: red;
  text-align: center;
}

p {
  text-align: center;
}

img {
  height: 500px;
  width: 1000px;
  padding: 50px;
}

a {
  padding: 20px;
  font-size: 20px;
}

div {
  padding: 20px;
  border: 1px solid #e8ca80;
  border-radius: 10px;
}

#index {
  padding: 30px;
}

#moros {
  padding-left: 200px;
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}
th, td {
  border: 1px solid black;
  padding: 15px;
}
th {
  background-color: lightgray;
}
